In [ ]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

## 2.	Find country with maximum gold

In [5]:
#Maximum number of gold medals
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
result = np.where(np_olympic_country_Gold==np.max(np_olympic_country_Gold))
print('return max number', np.max(np_olympic_country_Gold))
print('List of indeces of Maximum element are', result[0])
print('This country is the one with the most gold medals:',np_olympic_country[result])

return max number 46
List of indeces of Maximum element are [3]
This country is the one with the most gold medals: ['US']

In [6]:
#Minimum number of gold medals
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
result = np.where(np_olympic_country_Gold==np.min(np_olympic_country_Gold))
print('return min number', np.min(np_olympic_country_Gold))
print('List of indeces of Maximum element are', result[0])
print('This country is the one with the least gold medals:',np_olympic_country[result])

return min number 7
List of indeces of Maximum element are [5]
This country is the one with the most gold medals: ['JPN']

In [9]:
#Calculating means and standard deviations
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
print('This is the mean number of gold medals:', np.mean(np_olympic_country_Gold))
print('This is the standard deviation of gold medals:',np.std(np_olympic_country_Gold))

This is the mean number of gold medals: 24.0
This is the standard deviation of gold medals: 13.543580450847235

## 3.	Find countries with more than 20 gold medals

In [28]:
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [31]:
Above_20_medals = np_olympic_country_Gold >20
print(Above_20medals)

[ True  True  True  True False False False]

In [32]:
np_olympic_country_Gold[Above_20medals]
m = np. where(np_olympic_country_Gold>20)
print ('These countries have more than 20 Gold medals:', np_olympic_country[m])

These countries have more than 20 Gold medals: ['GBR' 'China' 'RUS' 'US']